.header {
    background-color: white;
    padding: 32px 0 80px;
    width: 1180px;
    height: 113px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.header_container {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin-bottom: 30px;
}

.header__logo {
    width: 180px;
    height: 38px;
}

.header__title-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
    top: 3px;
}

.header__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: right;
    margin: 0;
}

.header__title-blue {
    font-size: 20px;
    font-weight: 600;
    line-height: 28.48px;
    text-align: right;
    color: #607CE6;
    margin: 0;
}

.header__title-email,
.header__title-phone {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: right;
    margin: 0;
}

.line {
    width: 1180px;
    height: 1px;
    background-color: "#888888";
    margin-bottom: 16px;
}

.nav_bar {
    width: 951px;
    height: 19px;
    top: 126px;
    left: 130px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

.call {
    width: 157px;
    height: 19px;
    color: #607CE6;
    display: flex;
    justify-content: flex-end;
}

.vector {
    width: 16px;
    height: 16px;
    top: 127px;
    left: 1153px;
    display: flex;
}

.header__title-call {
    font-family: Source Sans 3;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-left: 4px;
}

.nav_container {
    width: 1180px;
    top: 126px;
    left: 130px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px){

    .main_text {
        font-size: 15px;
        font-weight: 200;
        line-height: 16px;
    }

    .header_container{
        width: 100%;
        justify-content:flex-start;
        gap: 400px;
 }

 .line{
    width: 1000px;
    margin-left: 0;
 }

 .nav_container{
    justify-content: flex-start;
    width: 1000px;
    gap: 10px;
 }

 .call{
    align-items: center;
 }

 .header__title-call{
    color: white;
 }
}

@media (max-width: 1000px){
    .header_container{
        width: 100%;
        justify-content:flex-start;
        gap: 100px;
 }
 .nav_bar{
    color: white;
    width: 400px;
 }

 .line{
    width: 768px;
 }
 .vector{
    opacity: 0; 
 }
}

@media (max-width: 768px){
    .line{
        width: 480px;
     }
     .header_container{
        width: 100%;
flex-direction: column;
margin-bottom: 5px;
gap: 5px;
 }
 .header__title-container{
    justify-content: flex-start;
 }
 .header{
    width: 100%;
    padding: 32px 0 40px;
 }
 .header__logo{
    margin-bottom: 5px;
 }
}

@media (max-width: 480px){
}